In [ ]:
from google.cloud import storage
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import PCA
import pandas as pd
import numpy as np
import os

%load_ext google.cloud.bigquery

In [3]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Saurav\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Saurav\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Saurav\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [4]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'homework4-key.json'

In [5]:
def list_buckets():
    storage_client = storage.Client()
    # Make an authenticated API request
    buckets = list(storage_client.list_buckets())
    print(buckets)

    
list_buckets()

[<Bucket: model-bucket-cs418>]

In [15]:
%%bigquery df

#standardSQL
-- Considering 2012-2018 and ignoring 'NON OFFENSE' crime type

SELECT block, primary_type, COUNT(*) as count FROM `bigquery-public-data.chicago_crime.crime`
WHERE primary_type NOT LIKE 'NON%'
AND date >= '2012-01-01'
AND date < '2019-01-01'
GROUP BY primary_type, block
ORDER BY block;

In [16]:
df = df.loc[df.groupby('block')['count'].idxmax()]
df.head(10)
#len(df)

                   block         primary_type  count
10      0000X E 100TH PL              BATTERY     43
10   022XX W MC LEAN AVE          SEX OFFENSE      1
10  052XX N GLENWOOD AVE  MOTOR VEHICLE THEFT      2
10      112XX S AVENUE L      CRIMINAL DAMAGE      3
15      0000X E 100TH ST              BATTERY     39
15   022XX W MC LEAN AVE      CRIMINAL DAMAGE      1
15  052XX N GLENWOOD AVE    CRIMINAL TRESPASS      1
15      112XX S AVENUE M        OTHER OFFENSE      1
35      0000X E 101ST PL              BATTERY     28
35    022XX W MELROSE ST   DECEPTIVE PRACTICE      1

In [17]:
df.tail()

                     block         primary_type  count
8978   137XX S JEFFERY AVE                THEFT      4
8983      001XX W 103RD PL  MOTOR VEHICLE THEFT      2
8983  025XX N KILBOURN AVE  MOTOR VEHICLE THEFT      5
8983    054XX W ADDISON ST        OTHER OFFENSE      1
8983    137XX S LEYDEN AVE              BATTERY      8

In [13]:
%%bigquery df

#standardSQL
-- Considering 2012-2018 and ignoring 'NON OFFENSE' crime type

SELECT year, primary_type, COUNT(*) as count FROM `bigquery-public-data.chicago_crime.crime`
WHERE primary_type NOT LIKE 'NON%'
AND date >= '2012-01-01'
AND date < '2019-01-01'
GROUP BY primary_type, year
ORDER BY year;

In [14]:
df = df.loc[df.groupby('year')['count'].idxmax()]
df

     year primary_type  count
18   2012        THEFT  75460
33   2013        THEFT  71530
67   2014        THEFT  61563
96   2015        THEFT  57337
137  2016        THEFT  61604
168  2017        THEFT  64346
199  2018        THEFT  65103