In [1]:
from google.cloud import storage
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import PCA
import pandas as pd
import numpy as np
import os

%load_ext google.cloud.bigquery

In [2]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Saurav\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Saurav\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Saurav\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [3]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'homework4-key.json'

In [4]:
def list_buckets():
    storage_client = storage.Client()
    # Make an authenticated API request
    buckets = list(storage_client.list_buckets())
    print(buckets)

    
list_buckets()

[<Bucket: model-bucket-cs418>]

In [11]:
%%bigquery df

#standardSQL
-- Considering 2012-2018 and ignoring 'NON OFFENSE' crime type

SELECT block, COUNT(*) as count FROM `bigquery-public-data.chicago_crime.crime`
WHERE primary_type NOT LIKE 'NON%'
AND date >= '2012-01-01'
AND date < '2019-01-01'
GROUP BY block
ORDER BY count desc;

In [12]:
df.head(10)

                                 block  count
0                     001XX N STATE ST   5523
1                  0000X W TERMINAL ST   3613
2                 008XX N MICHIGAN AVE   3481
3                     0000X N STATE ST   2745
4                   076XX S CICERO AVE   2573
5  064XX S DR MARTIN LUTHER KING JR DR   1779
6                     0000X S STATE ST   1716
7                     011XX S CANAL ST   1703
8                  083XX S STEWART AVE   1661
9                  033XX W FILLMORE ST   1585

In [13]:
df.tail()

                          block  count
34399           024XX W Iowa St      1
34400       014XX N Ashland Ave      1
34401         026XX W Hirsch St      1
34402      011XX N Campbell ave      1
34403  127XX S STONY ISLAND AVE      1