In [1]:
from google.cloud import storage
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import PCA
import pandas as pd
import numpy as np
import os

%load_ext google.cloud.bigquery

In [2]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Saurav\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Saurav\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Saurav\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [3]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'homework4-key.json'

In [4]:
def list_buckets():
    storage_client = storage.Client()
    # Make an authenticated API request
    buckets = list(storage_client.list_buckets())
    print(buckets)

    
list_buckets()

[<Bucket: model-bucket-cs418>]

In [8]:
%%bigquery df

#standardSQL
-- Write your query below this line

SELECT block, primary_type, COUNT(*) as count FROM `bigquery-public-data.chicago_crime.crime`
WHERE primary_type != 'OTHER OFFENSE' 
AND primary_type NOT LIKE 'NON%'
AND date < '2019-01-01'
GROUP BY primary_type, block
ORDER BY block;

In [10]:
df = df.loc[df.groupby('block')['count'].idxmax()]
df.head()
#len(df)

                     block         primary_type  count
1           0000X E 100 PL            NARCOTICS     10
1  013XX S BLUE ISLAND AVE   DECEPTIVE PRACTICE     12
1        027XX N HOYNE AVE  CRIM SEXUAL ASSAULT      6
1      044XX S EMERALD AVE                THEFT     11
1         063XX S KNOX AVE             BURGLARY     11

In [11]:
%%bigquery df

#standardSQL
-- Write your query below this line

SELECT year, primary_type, COUNT(*) as count FROM `bigquery-public-data.chicago_crime.crime`
WHERE primary_type != 'OTHER OFFENSE' 
AND primary_type NOT LIKE 'NON%'
AND date < '2019-01-01'
GROUP BY primary_type, year
ORDER BY year;

In [13]:
df = df.loc[df.groupby('year')['count'].idxmax()]
df

     year primary_type  count
8    2001        THEFT  99264
55   2002        THEFT  98327
65   2003        THEFT  98875
96   2004        THEFT  95463
131  2005        THEFT  85685
143  2006        THEFT  86240
187  2007        THEFT  85156
220  2008        THEFT  88433
226  2009        THEFT  80973
251  2010        THEFT  76756
283  2011        THEFT  75149
329  2012        THEFT  75460
347  2013        THEFT  71530
371  2014        THEFT  61563
409  2015        THEFT  57337
438  2016        THEFT  61604
469  2017        THEFT  64346
493  2018        THEFT  65103