In [1]:
import datetime
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from CreateCrimeRatioTable import CreateCrimeRatioTable

### Introduction

This project is about analyzing crimes and house prices in Chicago. Based on the different house prices of different neighborhoods and the crime occurrence in those areas, our goal is to determine whether there is correlation between the crime rates and house prices in different neighborhoods. We have analyzed chicago crime data and median sale price of houses of different neighborhoods in Chicago. We have calculated the correlations between change in house prices and number of crimes in different neighborhoods from 2012-2018 and we came to a conclusion on whether or not there is a connection between them based on available data. Furthurmore, we have predicted house prices and number of crimes for two more years and shown that the predicted data also supports our conclusion.

### Data Cleaning

We have used two different datasets for this project:

1. Chicago crime data from city of chicago website: https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2/data
2. Chicago house prices data from redfin: https://www.redfin.com/blog/data-center

Since we have house price of chicago neighborhood from 2012-2018, we got rid of all the crimes which occurred before 2012 and after 2018. We also got rid of the rows with null values. There is no separate script for cleaning the crime data. Data before 2012 and after 2018 was filtered out when we downloaded the dataset. For removing rows with null values, we checked for null values before every operations. We ignored the rows which have a null value. 

After getting the house price data, we removed those column where there was no value available. We also planned to work with price per square feet value. So we keep Price per square and sale price and filtered out the rest.

### Exploratory Data Analysis

In our project we are using two datasets: Chicago Crime Data and House Prices Data.

#### Chicago Crime Data: 
This dataset contains the criminal offences occurred in Chicago from 2001-2019. However, we are going to use crime data in 2012-2019. Each record in this dataset represents the details of a crime that happened in Chicago. The details include the time, type, description, location etc. of the crime. However, we are only going to use time and location of every crime. In this dataset, the neighborhood or the zipcode of the location of the crime is not given. Since, our goal is to analyze the crime happening in Chicago based on different areas and their relationship with the economy of those areas, we had to extract the neighborhoods from the location given in coordinates. We used the ArcGIS API to extract the neighborhoods. However, it is taking a huge amount of time to extract the neighborhoods with ArcGIS API. Although our whole dataset contains more than 2 million records, we are currently experimenting with half a million. We will use the whole dataset before our final submission. The function used for extracting the neighborhood data is given below.

#### House Prices Data from Redfin: 
Redfin provides the data of home sale prices from 2012-2019. Each record represents a 90-day period. Each row includes median sale price, median price per square foot, median listed price, number of houses sold within that 90-day period in a particular neighborhood. We are going to relate our 2 datasets using their neighborhood.

Some of the rows from out data sets are shown below:

In [2]:
CrimeFile = 'D:/CS 418/Project/Merged/0To2043066.csv'
CrimeDF = pd.read_csv(CrimeFile, keep_default_na=False)
HousePriceFile = 'databyneighborhood.csv'
HousePriceDF = pd.read_csv(HousePriceFile)

C:\Users\shafi\Anaconda3\envs\cs418env\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (6,9,14,17,21,22,23,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

We used only a few columns of the crime dataset for our project:

In [10]:
CrimeDF[['Year','Primary Type','X Coordinate', 'Y Coordinate','Neighborhood']].head()

   Year   Primary Type  X Coordinate  Y Coordinate     Neighborhood
0  2015        BATTERY     1144606.0     1903566.0           Austin
1  2015  OTHER OFFENSE     1166468.0     1860715.0   West Englewood
2  2015        BATTERY     1185075.0     1875622.0          Kenwood
3  2015        BATTERY     1178033.0     1870804.0  Washington Park
4  2015        ROBBERY     1144920.0     1898709.0           Austin

In [11]:
HousePriceDF.head()

                      Region Period Begin  Median Ppsf Median Sale Price
0  Chicago, IL - Albany Park    11/1/2011    78.400000             $154K
1  Chicago, IL - Albany Park    12/1/2011    76.800000             $122K
2  Chicago, IL - Albany Park     1/1/2012    77.929915             $129K
3  Chicago, IL - Albany Park     2/1/2012    80.898704             $131K
4  Chicago, IL - Albany Park     3/1/2012    98.397311             $141K

### Data Transformation
To perform our experiments, we had to make a few transfomations to our data. We had to aggregate the crime data based on the count of crimes in each year in each neighborhood and calculated their ratio. The following function both of these things and writes them into csv files.

In [3]:
CreateCrimeRatioTable(CrimeDF,'CrimeRatioTable.csv','CrimeCountTable.csv')

After aggregating the data based on the count of crimes in each neighborhood by year, the crime data looks as follows:

In [7]:
CrimeCountTable = pd.read_csv('CrimeCountTable.csv',usecols=range(1,10)).drop('2011',axis=1)
CrimeCountTable.head()

     Neighborhood  2012  2013  2014  2015  2016  2017  2018
0     Albany Park  2956  2708  2404  2481  2383  2456  2415
1   Andersonville   517   466   382   419   407   500   527
2  Archer Heights  1251  1299  1076  1000   893   864   855
3   Armour Square   787   649   568   544   510   529   492
4         Ashburn  2110  2143  2033  1690  1883  1874  1802

Crime ratio for each year was calculated with this formula: 
Ratio = (value for a neighborhood)/(sum of value for all neighborhoods). After calculating the crime ratio our data looks like the following:

In [ ]:
CrimeRatioTable = pd.read_csv('CrimeRatioTable.csv',usecols=range(1,10)).drop('2011',axis=1)